{% extends './base.html'%}
{% load static %}
{% block content %}
  

<section class="features11 cid-sz4QZUzRyG mbr-parallax-background" id="features12-q">

    
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2"><strong>About us</strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            We are provided Best Teacher for your careers.</p>
                        <div class="mbr-text mbr-fonts-style counter-container display-7">
                            <ul>
                                <li>Mobile-friendly</li>
                                <li>Easy setup</li>
                                <li>Edit visually</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 md-pb">
                <div class="image-wrapper">
                    <img src="{% static 'app/assets/images/mbr-1076x717.jpg' %}" alt="About">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}