{% extends './base.html'%}
{% load static %}
{% block content %}

<style>
    .tech{
        padding-top: 100px;
    }

</style>
  
  <section class="features4 cid-sz6xdJjqmr tech" id="features4-u">
    
    <div class="mbr-overlay"></div>
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Teachers</strong></h4>
            
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product2.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Design</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Website Design</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Mobirise is an easy website builder. Just
                            drop site elements to your page, add content and style it to look the way you like.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product3.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Programming</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            HTML/CSS Coding</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">You don't have to code to create your own
                            site. Select one of available themes in the Mobirise Site Maker.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div><div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/team2.jpg" alt="" title="" data-slide-to="2">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Programming</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            HTML/CSS Coding</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">You don't have to code to create your own
                            site. Select one of available themes in the Mobirise Site Maker.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div><div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/background3.jpg" alt="" title="" data-slide-to="3">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Programming</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            HTML/CSS Coding</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">You don't have to code to create your own
                            site. Select one of available themes in the Mobirise Site Maker.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div><div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product2.jpg" alt="" title="" data-slide-to="4">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Programming</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            HTML/CSS Coding</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">You don't have to code to create your own
                            site. Select one of available themes in the Mobirise Site Maker.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product1.jpg" alt="" title="" data-slide-to="5">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Branding</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Creating Your Brand</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Select the theme that suits you. Each theme
                            in the Mobirise Website Software contains a set of unique blocks.<br></p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}